<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="/css/headerfooter.css">
  <link rel="stylesheet" href="/css/mywords.css">
  <title>My Words</title>
</head>

<body>
  <div class="container">
    <div class="navbar">

      <div id="home"><a href="/home"> Home</a></div>

      <div class="account">
        <button class="material-symbols-outlined  accountbtn" id="accountbtn">
          account_circle
        </button>

        <ul class="dropdown" id="dropdown">
          <li>
            <%=name%>
          </li>
          <li> <a onClick="window.location.reload()">My Words</a> </li>
          <li><a href="/">Sign Out</a> </li>
        </ul>

      </div>


    </div>

<h1>My Words</h1>
    <div class="result-container">
      <% for(let i=0;i<(wordsarray.length);i++) { %>
        <div class="words">
          <h3 class="word">
            <%= wordsarray[i].word %>
          </h3>
          <p class="meaning">
            <%= wordsarray[i].meaning %>
          </p>
          <form action="/deletefromsavedwords" method="post">
            <input type="hidden" name="name" value="<%=name %>">
            <input type="hidden" name="word" value="<%= wordsarray[i].word %>">
            <button class="Remove" type="submit">Remove</button>
          </form>

        </div>
        <% } %>


    </div>
  </div>
</body>
<script src="/javascript/home.js"></script>

</html>